<!DOCTYPE html>
<html>
  <head>
    <title>RailsTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Taskleaf</a>
      </div>
    </nav>

    <div class="container">

      <% if flash[:notice] %>
        <div class="alert alert-primary" role="alert">
          <p><%= notice %></p>
        </div>
      <% end %>
      
      <% if flash[:alert] %>
        <div class="alert alert-primary" role="alert">
          <p><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>

    
  </body>
</html>
